


<div class="container mt-5">
  <h2>Créer un nouvel utilisateur</h2>


  <form *ngIf="!formSubmitted" (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="user.nom" name="nom">
    </div>
    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom</label>
      <input type="text" class="form-control" id="prenom" required [(ngModel)]="user.prenom" name="prenom">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
    </div>
    <div class="mb-3">
      <label for="motDePasse" class="form-label">Mot de Passe</label>
      <input type="password" class="form-control" id="motDePasse" required [(ngModel)]="user.motDePasse" name="motDePasse">
    </div>
    <div class="mb-3">
      <label for="ville" class="form-label">Ville</label>
      <input type="text" class="form-control" id="ville" required [(ngModel)]="user.ville" name="ville">
    </div>
    <div class="mb-3">
      <label for="adresse" class="form-label">Adresse</label>
      <input type="text" class="form-control" id="adresse" required [(ngModel)]="user.adresse" name="adresse">
    </div>

    <div class="mb-3">
      <label for="codePostal" class="form-label">Code Postal</label>
      <input type="number" class="form-control" id="codePostal" required [(ngModel)]="user.codePostal" name="codePostal">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Créer</button>
  </form>

  <div *ngIf="formSubmitted" class="alert alert-success" role="alert">
    L'utilisateur a été créé avec succès. Vous allez être redirigé vers la page d'accueil.
  </div>

  <div  *ngIf="message" class="alert alert-danger" role="alert">
    {{ message }}
  </div>
</div>




