<div class="container mt-5">
  <h2>Ajouter un nouvel utilisateur</h2>
  <form (ngSubmit)="onSubmit()" class="mt-4">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" [(ngModel)]="newUser.nom" name="nom" required>
    </div>
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" class="form-control" id="prenom" [(ngModel)]="newUser.prenom" name="prenom" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="newUser.email" name="email" required>
    </div>
    <div class="form-group">
      <label for="motDePasse">Mot de Passe</label>
      <input type="password" class="form-control" id="motDePasse" [(ngModel)]="newUser.motDePasse" name="motDePasse" required>
    </div>
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" class="form-control" id="adresse" [(ngModel)]="newUser.adresse" name="adresse">
    </div>
    <div class="form-group">
      <label for="ville">Ville</label>
      <input type="text" class="form-control" id="ville" [(ngModel)]="newUser.ville" name="ville">
    </div>
    <div class="form-group">
      <label for="codePostal">Code Postal</label>
      <input type="text" class="form-control" id="codePostal" [(ngModel)]="newUser.codePostal" name="codePostal">
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
  </form>
</div>
